@import './../../assets/styles/common.scss';

.d-playlist-info-row {
    padding: 20px;
    color: #FFF;
    cursor: pointer;
    user-select: none;
}

.d-playlist-info-row:hover {
    background: rgb(21, 21, 21);
}

.d-playlist-info-num {
    color: #FFF;
    background: $main-blue;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
}

.d-playlist-info-row-wrapper {
    display: flex;
    align-items: center;
}